body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
label, input {
  display: block;
}
input, select {
  margin-bottom: 16px;
}
.info-row, .info-container {
  display: flex;
}
.info-row {
  flex: 1;
}
.label {
  font-weight: bold;
  margin-right: 8px;
}
.info-container {
  gap: 16px;
}
.name-row {
  font-size: 20px;
}
.card p {
  margin: 6px;
}
.card {
  border: 1px solid #999;
  border-radius: 8px;
  max-width: 400px;
  padding: 16px;
}
.title {
  display: flex;
  justify-content: center;
  font-family: Georgia, "Times New Roman", serif;
}
.address-text p {
  padding: 0;
  margin: 0;
}
.address-text p:first-child {
  margin-top: 6px;
}
.address-text p:last-child {
  margin-bottom: 6px;
}
/* change card colors to reflect type of insurance */
.card.premium {
  border: 2px solid #ffce27;
  color: #ffce27;
  background-color: #000000;
}
.card.standard {
  border: 2px solid #5cbeff;
  color: #5cbeff;
  background-color: #6e6e6e;
}
.card.bronze {
  border: 2px solid #a06500;
  color: #a06500;
  background-color: #ffe7bb;
}
.card.premium .label {
  color: #f6de89;
}
.card.standard .label {
  color: #8d9ec6;
}
.card.bronze .label {
  color: #cca769;
}